/* dark-mode.css */

.dark-mode-switch .dark-mode-toggle-btn{
    margin-top: 20px !important;
    margin-left: 10px !important;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode .p-card {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode .p-inputtext, .dark-mode .p-dropdown, .dark-mode .p-button{
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode .p-dataTable thead {
    background-color: #444;
  }
  
  .dark-mode .p-inputswitch {
    background-color: #444;
  }

  .dark-mode .pi-search, .dark-mode .p-inputtext::placeholder{
    color: #fff;
  }

  .dark-mode .p-dropdown-trigger .p-dropdown-trigger-icon{
    color: #fff;
  }